$primary-color: #444;
a{
  color: $primary-color;
  &:hover{
    color: rgba($primary-color,.8);
    text-decoration: none;
  }
}
ul{
  &.tag-list{
    padding-left: 0;
    li{
      &.tag-list-item{
        list-style: none;
        .tag-list-count{
          margin-left: .4rem;
          padding: .1rem .4rem .3rem;
          border-radius: .4rem;
          vertical-align: super;
          background-color: rgba($primary-color,.1);
        }
      }
    }
  }
}
.blog-post{
  img{
    margin-bottom: .4rem;
    max-width: 100%;
    border-radius: 5px;
  }
}
