<article>
  <div>
    <header>
      <%- partial('post/date', {class_name: 'archive-article-date', date_format: 'MMM D'}) %>
      <%- partial('post/title', {class_name: 'archive-article-title'}) %>
    </header>
  </div>
</article>
